<header>
  <div class="header-container">
    <div class="app-logo">
      <a href="#">Express & Prisma Template</a>
    </div>
    <!-- <nav>
      Your navbar here :)
    </nav> -->
  </div>
</header>
