<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Express & Prisma Template</title>
    <link rel="stylesheet" href="/src/assets/styles/index.scss" />
  </head>
  <body>
    <%- include('layout/_header') %>
    <%- body %>
    <script src="/src/assets/js/index.js"></script>
  </body>
</html>
