<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Express & Prisma Template</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>" />
    <% } %>
  </head>
  <body>
    <%- include('layout/_header') %>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>
</html>
